* { margin: 0; padding: 0; outline: 0 }

@font-face {
    font-family: uncial;
    src: url('fonts/aniron-regular.woff');
}

@font-face {
    font-family: artifika;
    src: url('fonts/artifika-regular.woff');
}

body {
    background-color: #18181e;
    color: #efefef;
    font: 10pt artifika;
    overflow: hidden;
    position: relative;
}

a {
    color:#a0a0f0;
}

a:link {
    text-decoration:none;
}

.box {
    border-radius: 10px;
    background-color: #2a2a2e;
    position: absolute;
}

.textbox {
}

.textbox > div {
    padding: 0px 10px;
}

.textbox > div p {
    margin-bottom: 5pt;
    line-height: 14pt;
}

.textbox > div > img {
    display: block;
    margin: 1em auto;
}

.textbox > div > blockquote {
    margin-left: 1.5em;
    margin-bottom: 5pt;
    line-height: 14pt;
}

.textbox > div > h1 {
    font: 12pt uncial;
    color: #ffffcf;
    text-align: center;
    text-transform: lowercase;
}

.textbox > div > h2 {
    font: 10pt artifika;
    color: #ffffcf;
    text-align: center;
    margin-bottom: 5pt;
}

.textbox > div > ul > li {
    margin-left: 1.5em;
    margin-bottom: 5pt;
    line-height: 14pt;
}

.textbox > pre {
    padding: 0px 10px;
    white-space: pre-wrap;
    margin-bottom: 5pt;
    line-height: 14pt;
    font-size: 10pt;
}

.buttonbox {
    position: absolute;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.buttonbox > div {
    display: table-row;
}

.buttonbox > div > div {
    display: table-cell;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    border-left: 4px solid #18181e;
    padding-left: 3px;
    cursor: pointer;
}

.buttonbox > div > div:hover {
    background-size: auto 120%;
}

.portrait {
    position: absolute;
    background-color: #18181e;
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.statbar {
    background-color: #18181e;
}

.healthbar .statvalue {
    background-color: #af2f2f;
}

.manabar .statvalue {
    background-color: #2f5caf;
}

.xpbar .statvalue {
    background-color: #793f89;
}

/* highlights used on portraits to convey attitude and target information */

.highlight_enemy_target {
    border: 2px solid #df0000;
}

.highlight_enemy {
    border: 2px solid #9f0000;
}

.highlight_hostile {
    border: 2px solid #643200;
}

.highlight_friend_target {
    border: 2px solid #00c800;
}

.highlight_friendly {
    border: 2px solid #006400;
}

.highlight_neutral {
    border: 2px solid #4f4f00;
}

.highlight_npc {
    border: 2px solid #0000a9;
}

.highlight_passive {
    border: 2px solid #484851;
}

/* link styles */
.link {
    color:#a0a0f0;
    cursor: pointer;
}
.link.look { color:#ffd898 }
.link.inv { color:#ffd898 }
.link.help { color:#6fcf6f }
.link.list { margin-left:1em; display:inline-block }

/* paragraph styles */
.cmd { color:#df9fdf }
.tutorial { color:#b8e8b8 }
.motd { color:#a8f0e8; margin-bottom:1em }
.intro { color:#e8c0e0 }
.error { color:#ff8f6f }
.notice { color:#a8f0e8 }

/* scrollbars */
.scroll { overflow-y: auto; overflow-x: hidden; }
::-webkit-scrollbar { width:10px; height:10px }
::-webkit-scrollbar-track { background-color:#2a2a2e; margin:8px 0px; border-radius:5px }
::-webkit-scrollbar-thumb { background-color:#484851; border-radius:5px }

/* Player vitals */

#vitals {
    height: 80px;
}

#vitals .portrait {
    left: 5px;
    top: 5px;
    width: 70px;
    height: 70px;
}

#vitals .name {
    position: absolute;
    left: 80px;
    top: 5px;
    font-size: 12pt;
}

#vitals .aurabox {
    position: absolute;
    left: 80px;
    top: 50px;
    height: 25px;
    font-size: 0;
}

#vitals .aura {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-right: 3px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

#player_bars {
    position: absolute;
    left: 80px;
    top: 28px;
    height: 18px;
}

#player_bars .statbar {
    display: inline-block;
    width: 33%;
    height: 18px;
    border-radius: 7px;
}

#player_bars .statbar span {
    font: 9pt artifika;
    width: 33%;
    top: 1px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}

#player_bars .statvalue {
    width: 0%;
    height: 18px;
    border-radius: 7px;
}

/* Other entities in the player's location */

#contents {
    width: 180px;
}

#contents > div {
    position: relative;
    width: 100%;
    height: 47px;
    cursor: pointer;
}

#contents .portrait {
    left: 3px;
    top: 3px;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
}

#contents .name {
    position: absolute;
    left: 50px;
    top: 4px;
    width: 125px;
    font-size: 9pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#contents .aurabox {
    position: absolute;
    left: 50px;
    top: 33px;
    height: 12px;
    font-size: 0;
}

#contents .aura {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 1px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

#contents .statbar {
    left: 50px;
    width: 125px;
    height: 5px;
    border-radius: 2px;
}

#contents .healthbar {
    position: absolute;
    top: 21px;
}

#contents .manabar {
    position: absolute;
    top: 27px;
}

#contents .statvalue {
    width: 0%;
    height: 5px;
    border-radius: 2px;
}

@keyframes enter {
    from {left: -180} to {left: 0}
}
.do_enter { animation: enter 0.4s ease-out; }

@keyframes exit {
    0% {left: 0px; height: 45px;}
    100% {left: -180px; height: 0px;}
}
.do_exit { animation: exit 0.4s ease-out; }

@keyframes cast {
    from {width: 0%} to {width: 100%}
}

/* Testing: stat box */

#pane_title {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#pane_title div {
    display: inline-block;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding-top: 8px;
    opacity: 0.5;
}

#pane_title:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#pane_selector {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: red;
}

/* Social chat */

#chatbox {
    display: block;
}

/* Equipment */

#equipbox {
    display: none;
    margin-top: 10px;
}

#equipbox > hr {
    margin: 10px 0;
    border: 1px solid #9a9a9a;
}

#equipbox > div {
    margin-top: 5px;
}

#equipbox > div div {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#equipbox > div > div:nth-child(1) {
    width: 18%
}

#equipbox > div > div:nth-child(2) {
    width: 70%
}

#equipbox > div > div:nth-child(2) > div:nth-child(1) {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url('icons/cube.png');
}

#equipbox > div > div:nth-child(2) > div:nth-child(2) {
    text-align: left;
}

/* Inventory */

/* shdfsdf */

#invbox {
    display: none;
}

#invbox > div {
    margin-top: 5px;
}

#invbox > div > div {
    display: inline-block;
    vertical-align: middle;
}

#invbox > div > div:nth-child(1) {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-image: url('icons/cube.png');
}

#invbox > div > div:nth-child(2) {
    vertical-align: middle;
    text-align: left;
}

#invbox > h3 {
    font: 10pt artifika;
    border-bottom: 1px solid #9a9a9a;
    margin: 5px 0;
    text-align: center;
}

/* Combat modifiers */

#combatbox {
    display: none;
}

#combatbox > div > div {
    margin-top: 5px;
    font-size: 10pt;
}

#combatbox > div > div > div {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#combatbox > div > div > div:nth-child(1) {
    width: 75%;
    text-align: left;
}

#combatbox > div > div > div:nth-child(2) {
    width: 25%;
    text-align: right;
}

#combatbox h3 {
    font: 10pt artifika;
    border-bottom: 1px solid #9a9a9a;
    margin: 5px 0;
    text-align: center;
}

#attrbox {
    display: inline-block;
    width: 49%;
}

#modbox {
    display: inline-block;
    width: 49%;
}

/* Skills */

#skillbox {
    display: none;
    margin: 0 10px;
}

#skillbox > hr {
    margin: 10px 0;
    border: none;
}

#skillbox > div {
    margin-top: 5px;
}

#skillbox > div > div {
    display: inline-block;
    vertical-align: middle;
}

#skillbox > div > div:nth-child(1) {
    width: 66%;
    text-align: left;
}

#skillbox > div > div:nth-child(2) {
    width: 34%;
    text-align: right;
}

#skillbox > h3 {
    font: 10pt artifika;
    border-bottom: 1px solid #9a9a9a;
    margin: 5px 0;
    text-align: center;
}

/* Maps */

#map {
}

#room_name {
    font: 12pt uncial;
    color: #ffffcf;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    top: -6px;
}

#zone_name {
    font: 10pt artifika;
    color: #ffffcf;
    text-align: center;
    position: relative;
    top: -6px;
}

#map > canvas {
    position: absolute;
}

#game_text {
}

#chat_text {
}

#buttons {
    width: 180px;
}

/* User input area */

#input {
    background-color: #4040a0;
}

#input input[type="text"] { width: 100% }

input[type="text"] {
    padding: 6px;
    border: 2px solid #484851;
    border-radius: 8px;
    font: 10pt artifika;
    outline: 0;
    background-color: #efefef;
}

input[type="text"]:focus {
    border: 2px solid #dc6520;
}

/* Buttons for user-settable macros */

#macros {
}
