#header {
    margin:0 auto 2px auto;
    width:800px;
    height:40px;
    border-radius:3px;
    background-color:#18181e;
    background-image:url('images/atalea_small.png');
    background-image:-webkit-image-set(url('images/atalea_small.png') 1x, url('images/atalea_small@2x.png') 2x);
    background-image:-moz-image-set(url('images/atalea_small.png') 1x, url('images/atalea_small@2x.png') 2x);
    background-repeat:no-repeat;
    position:relative;
}

#loginbar {
    float:right;
    position:absolute;
    bottom:2;
    right:0;
}

#frame {
    margin:auto;
    padding:10px 0 10px 0;
    width:800px;
    border-radius:5px;
    background-color:#3f3f4d;
}

#frame:before,
#frame:after {
    content:"";
    display:table;
}

#frame:after {
    clear:both;
}

#content {
    width:510px;
    float:left;
    padding:0 20px 0 20px;
}

#sidebar {
    width:240px;
    float:right;
    margin-right:10px;
}

.sidebox {
    padding:5px 20px 5px 20px;
    background-color:#2f2f39;
    margin-bottom:10px;
    border-radius:5px;
}

.actionbox {
    padding:5px 20px 5px 20px;
    margin-bottom:10px;
    border-radius:5px;
}

.overlay {
    display:none;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.7);
    z-index:1001;
}

.popup {
    display:none;
    position:absolute;
    top:10%;
    left:25%;
    width:50%;
    height:300px;
    border-radius:5px;
    background-color:#4f4f5f;
    padding: 20px;
    z-index:1002;
}

.closebox {
    position:absolute;
    right:0px;
    top:0px;
    width:24px;
    height:24px;
    font:20pt Arial;
    text-align:center;
    line-height:22px;
    -webkit-user-select:none;
    -moz-user-select:none;
    cursor:pointer;
}

#logindialog > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
}

#logindialog > div > div {
    flex: 0 1 50%;
    min-width: 50%;
    height: 100%;
}

#createaccount > * {
    padding-right: 10px;
}

#login {
    border-left: 3px solid #3f3f4d;
}

#login > * {
    padding-left: 10px;
}

.prompt {}

.warning {
    color:#ffc477;
}

input[type="text"],
input[type="password"] {
    padding:6px;
    border:2px solid #18181e;
    border-radius:8px;
    font:10pt artifika;
    outline:0;
    background-color:#efefef;
    margin-bottom:8px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border:2px solid #dc6520;
}

input[type="submit"] {
    box-shadow:inset 0 3px 2px rgba(255, 255, 255, 0.5), inset 0 -3px 2px rgba(0, 0, 0, 0.5);
    background:linear-gradient(to bottom, #ffc477, #fb9e25);
    border-radius:10px;
    border:none;
    display:inline-block;
    color:#ffffff;
    font:10pt artifika;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #cc9f52;
}

input[type="submit"]:hover {
    background:linear-gradient(to top, #ffc477, #fb9e25);
}

input[type="submit"]:active {
    position:relative;
    top:1px;
}

input[type="button"] {
    width:200px;
    height:50px;
    border:none;
    border-radius:25px;
    box-shadow:inset 0 5px 3px rgba(255, 255, 255, 0.5), inset 0 -5px 3px rgba(0, 0, 0, 0.5);
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    font:11pt uncial;
    color:#efefef;
    text-transform:lowercase;
}

.loginaction {
    background:linear-gradient(to bottom, #3030f0, #202090);
}

.loginaction:hover {
    background:linear-gradient(to top, #3030f0, #202090);
}

.playaction {
    background:linear-gradient(to bottom, #30f030, #209020);
}

.playaction:hover {
    background:linear-gradient(to top, #30f030, #209020);
}
